.grade-level-page {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.class-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.class-info .page-title {
    margin-top: 3vh;
    margin-bottom: 0vh;
    text-align: center;
    font-size: 170%;
    background: none;
    border: none;
    color: inherit;
    cursor: pointer;
}

.grade-level-page .content {
    margin-top: 10px;
    background: #f0b36d;
    border-radius: 3vh;
    height: 59vh;
    position: relative;
    margin-left: 5vh;
    margin-right: 5vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3vh;
    padding-bottom: 3vh;
}

.grade-level-page .student-list-container {
    width: 90%;
    padding: 2vh;
    background-color: white;
    border-radius: 3vh;    
}

.grade-level-page .student-list-container .student-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Three equal columns */
    gap: 2vw;
    height: 49vh;
    overflow-y: scroll;
    box-sizing: border-box;
    padding: 0;
    justify-items: center;
    align-items: center;
    margin: 0 auto;
}

.student-list button {
    background-color: #c9540098;
    color: white;
    width: 70%;
    min-width: 22vh;
    height: 45px;
    margin-bottom: 5px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
}

.student-list button:hover {
    background-color: #e78618;
}

.add-delete-button-container button:hover {
    background-color: #a35b3e;
}

.grade-level-page .button-b button {
    margin-left: 1vh;
    margin-right: 1vh;
    margin-top: 5vh;
}

@media (max-width: 800px) {
    .grade-level-page .student-list-container .student-list {
        grid-template-columns: repeat(2, 1fr);
    }
}