.grade-level-page {
    display: flex;
    flex-direction: column;
    width: 100vw; /* Ensure it spans the full viewport width */
    height: 100vh; /* Ensure it spans the full viewport height */
    overflow: hidden; /* Prevent scrollbars on the body */
}

.header {
    text-align: center;
    margin-bottom: 2vh;
}

.header h1 {
    font-size: 2em;
    margin: 0;
}

.header p {
    font-size: 1.2em;
    margin: 0;
}

.class-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.class-info .class-button {
    font-size: 2rem;
    background: none;
    border: none;
    color: inherit;
    cursor: pointer;
}

.grade-level-page .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.grade-level-page .student-list-container {
    width: 80%;
    padding: 2vh;
    background-color: rgb(232, 232, 232);
    border-radius: 3vh;
    margin: 2vh;
}

.grade-level-page .student-list-container .student-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Three equal columns */
    gap: 2vw;
    height: 49vh;
    overflow-y: scroll;
    padding-right: 2vw; /* Add space for scrollbar */
    box-sizing: border-box;
}

.student-list button {
    background-color: #F0B36D;
    color: black;
    width: 100%;
    height: 50px; /* Adjust as needed */
    border-radius: 25px;
    border: none;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
}

.student-list button:hover {
    background-color: #e78618;
}

.buttons {
    align-content: center;
    width: 100%; /* Adjust as needed */
    height: auto;
    box-sizing: border-box;
    position: relative; /* To position elements absolutely within it */
    display: flex;
    align-items: center;
}

.buttons button {
    background-color: #C69C7D;
    color: white;
    width: 20vh;
    height: 40px;
    border-radius: 3vh;
    margin-top: 10px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.add-delete-button-container button:hover {
    background-color: #a35b3e;
}