.shepgcc-home-page .main-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.page-title h1 {
    margin-top: 3vh;
    margin-bottom: 0vh;
    text-align: center;
    font-size: 170%;
}

.page-title h2 {
    text-align: center;
}

.school-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    max-width: 1000vh;
    width: 50%;
    min-width: 60vh;
    text-align: center;
}

.school-info-container {
    background-color: #f0b36d;
    border-radius: 3vh;
    padding: 3vh;
    height: 60vh;
    justify-content: center;
    align-content: center;
    margin-right: 5vh;
}

.basic-school-info {
    text-align: center;
    background-color: #ffe1be;
    border-radius: 2vh;
    padding: 2vh;
    margin-bottom: 3vh;
}

.basic-school-info h1 {
    padding-bottom: 2vh;
    font-size: 200%;
}

.basic-school-info .button-a {
    margin-top: 1vh;
}

.shep-gcc-container {
    background-color: white;
    border-radius: 2vh;
    margin-bottom: 2vh;
}

.shep-gcc-contact-info {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 2vh;
    height: 18vh;
    padding-bottom: 0;
    padding-top: 1.5vh;
    /* background-color: red; */
}

.shep-gcc-contact-info .contact-card {
    margin-left: 4vh;
    margin-right: 4vh;
    padding: 0;
    /* background-color: green; */
}

.contact-card {
    margin: 0 10vh;
}

.contact-card div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-card h2 {
    margin: 0;
    font-size: 100%;
    font-weight: bold;
    font-style: italic;
}

.contact-card h3 {
    margin: 0;
    font-size: 100%;
    font-weight: bold;
    font-style: italic;
    margin-bottom: 1.5vh;
}

.contact-card p {
    margin: 0%;
    font-size: 90%;
    font-style: italic;
}

.shep-gcc-container .button-a {
    /* background-color: yellow; */
    padding: 0;
    height: auto;
}

.shep-gcc-container .button-a button {
    padding: 0;
    margin-top: 0;
    margin-bottom: 3vh;
}

.grade-buttons {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
}

.grade-buttons button {
    background-color: white;
    padding: 0vh;
    border-radius: 3vh;
    width: 15vh;
    margin-left: 7vh;
    margin-right: 7vh;
    font-size: 12px;
    margin-top: 1vh;
    padding: 0.8vh;
}

.grade-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1vh;
    width: 40vw;
    height: 60vh;
    overflow-y: auto;
    border-radius: 3vh;
    padding: 0;
    margin: 0;
}

.grade-list button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0b36d;
    padding: 15px;
    margin: 1vh;
    border-radius: 3vh;
    cursor: pointer;
    text-align: center;
    font-size: 1em;
    height: 6vh;
}

div .grade-list button {
    background-color: #f0b36d;
    margin: 0.58vh;
    border-radius: 3vh;
    cursor: pointer;
    text-align: center;
    font-size: 1em;
    height: 6vh;
}

@media (max-width: 1200px) {
    .main-content {
        display: flex;
        flex-direction: row; /* Ensure they stay in the same line */
    }

    .school-info {
        width: 50%;
    }

    .school-info-container {
        margin: 0;
    }

    .grade-list {
        grid-template-columns: 1fr 1fr;
        /* width: 40vw; */
        height: 64.3vh;
        overflow-y: auto;
        margin-left: 5vh;
        padding: 0;
    }

    .grade-list .buttons {
        width: 100%;
    }
}

@media (max-width: 950px) {
    .school-info {
        width: 80%;
        margin-bottom: 2vh;
    }
    .grade-list {
        grid-template-columns: 1fr;
        width: 80%;
        height: 64.3vh;
        overflow-y: auto;
        margin-left: 0vh;
    }
}
