.header {
    background-color: #ffffff;
    margin-bottom: 0; /* Remove any bottom margin */
    padding-bottom: 0; /* Remove any bottom padding */
}

.page-title h1 {
    margin-top: 3vh;
    margin-bottom: 0vh;
    text-align: center;
    font-size: 170%;
}

.logo-container {
    display: flex;
    justify-content: center; /* Centers the logo horizontally */
    align-items: center;
    padding: 1vh 0;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.logo-container img {
    height: 10vh;
    align-items: center;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #d9d9d9; /* Grey background color for the navigation bar */
    padding: 1vh 3vh;
    color: #ffffff;
    width: 100%;
    margin-bottom: 0vh;
}

.icons svg {
    margin-right: 1vh; /* Space out the icons */
    /*align-items: right;*/
}

.nav {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.nav a {
    margin-right: 20vh;
    text-decoration: none;
    color: black;
    font-style: italic;
}

.icons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-grow: 1;
}

.icons span {
    margin-left: 1vh;
    color: #c86b39; /* Change the color of the "Logout" text */
    font-style: italic;
}
