.header {
    background-color: #ffffff;
    margin-bottom: 0; /* Remove any bottom margin */
    padding-bottom: 0; /* Remove any bottom padding */
}

.logo-container {
    display: flex;
    justify-content: center; /* Centers the logo horizontally */
    align-items: center;
    padding: 1vh 0;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.logo-container img {
    height: 10vh;
    align-items: center;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Adjust space between icons */
    background-color: #d9d9d9; /* Grey background color for the navigation bar */
    padding: 1vh 3vh;
    color: #ffffff;
    width: 100%;
    margin-bottom: 0vh;
}

.icons-left {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Align icons to the left */
}

.icons-right {
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Align logout to the right */
}

.icons-left svg {
    margin-right: 1vh; /* Space out the icons */
}

.nav {
    display: none; /* Hide the home link */
}

.icons-left {
    display: flex;
    align-items: center;
}

.icons-right span {
    margin-left: 1vh;
    color: #c86b39; /* Change the color of the "Logout" text */
    font-style: italic;
}
