.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    max-width: 450px;
    text-align: center;
    max-height: 80vh;
    overflow-y: auto;
    margin: 20px 0;
}

.popup h2 {
    margin-top: 0;
    font-size: 20px;
    text-align: center;
    margin-bottom: 2vh;
}

.popup form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.popup label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1vh 0;
    text-align: left;
    width: 100%;
}

.popup label span {
    flex: 1;
    margin-right: 10px;
    text-align: right; /* Aligns label text to the right */
}

.popup input, .popup select {
    flex: 2;
    display: flex;
    padding: 0.8vh;
    box-sizing: border-box;
    border: 1px solid lightblue;
    width: 70%;
    margin-left: 1vh;
}

.popup select {
    display: inline-block;
}

.popup-buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
}

.popup-buttons button {
    padding: 1vh 2vh;
    border: none;
    border-radius: 3vh;
    cursor: pointer;
}

.popup-buttons button:first-child {
    background-color: #ccc;
    margin-right: 0.5vh;
}

.popup-buttons button:last-child {
    background-color: #f0b36d;
    color: white;
    margin-left: 0.5vh;
}