/* Ensure the whole page is a flex container with column direction */
.renel-inbox-page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Flex container for the main content */
.renel-inbox-page .main-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Subject input styling */
.subject-input,
.message-textarea {
    margin-bottom: 1.5vh;
    padding: 1vh;
    border: 1px solid #ccc;
    border-radius: 1vh;
    box-sizing: border-box; /* Ensures padding and border are included in element's total width and height */
}

.subject-input {
    text-align: left; /* Ensure text is left-aligned */
}

/* Textarea specific height */
.message-textarea {
    height: 40vh;
    text-align: left; /* Ensure text is left-aligned */
}

/* Submit button styling */
.submit-button {
    padding: 1vh;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3vh;
    cursor: pointer;
}

/* Right side message list styling */
.message-list {
    padding-left: 3vh;
    box-sizing: border-box; /* Ensures padding and border are included in element's total width and height */
    display: flex;
    flex-direction: column;
}

.message-list .search-input {
    width: 100%;
    height: 5vh;
}

/* Header for message list with search and filter */
.message-list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2vh;
}

/* Dropdown and search input styling */
.message-filter,
.search-input {
    padding: 1vh;
    border: 1px solid #ccc;
    border-radius: 3vh;
}

/* Messages container with fixed height and scrollable */
.messages {
    display: flex;
    flex-direction: column;
    gap: 1vh;
    max-height: 65vh; /* Set a max height */
    overflow-y: auto; /* Enable vertical scrolling */
    padding-right: 1vh; /* Add some padding to avoid content touching the scrollbar */
    cursor: pointer;
}

.message-item {
    padding: 1vh;
    border: 1px solid #ccc;
    border-radius: 1vh;
    background-color: #f9f9f9;
    box-sizing: border-box; /* Ensures padding and border are included in element's total width and height */
    line-height: 1.2; /* Adjust the line height here */
}

/* Date styling */
.message-date {
    font-size: 12px;
    color: #999;
    line-height: 1.2; /* Adjust the line height here */
}

/* From styling */
.message-from {
    font-size: 15px;
    font-weight: bold;
    line-height: 1.2; /* Adjust the line height here */
    color: brown;
}

/* Sender and subject styling */
.message-subject {
    font-size: 14px;
    font-weight: bold;
    line-height: 1.2; /* Adjust the line height here */
}

/* Preview text styling */
.message-preview {
    font-size: 14px;
    color: #666;
    line-height: 1.2; /* Adjust the line height here */
}

/* Modal styling to ensure it appears above other elements */
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 2vh;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}