.main-content {
    width: 100%;
    height: 100%;
    padding-left: 5vh;
    padding-right: 5vh;
    padding-top: 2vh;
}

.renel-home-page {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.header {
    margin-bottom: 10px;
}

.renel-home-page .main-content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    display: flex;
    justify-content: center;
}

.most-urgent {
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 100%;
    transition: all 0.3s ease-in-out;
    position: relative;
    overflow: hidden;
    margin-right: 7vh;
    margin-bottom: 0;
}

.most-urgent.expanded .most-urgent-content {
    display: block;
    background-color: rgb(237, 237, 237);
    width: 100%;
    padding-left: 2vh;
    padding-right: 2vh;
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
    margin-top: 0;
}

.most-urgent.collapsed .most-urgent-content {
    display: none;
}

.collapsible-header {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
    background-color: #c69c7d;
    color: white;
    border-radius: 5px;
}

.collapsible-header button {
    background: none;
    border: none;
    color: white;
    font-size: 1.5em;
    cursor: pointer;
}

.most-urgent-content {
    margin-top: 0;
}

.all-schools {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%;
}

.buttons-and-search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    /* background-color: blue; */

}

.buttons-and-search .buttons {
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
}

.buttons-and-search .buttons button {
    background-color: #C69C7D;
    color: white;
    padding: 1vh;
    margin-left: 1vh;
    margin-right: 0vh;
    margin-bottom: 0;
    border-radius: 3vh;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 12px;
    width: 20vh;
    justify-content: flex-end;
    /* flex: 1 1 auto; */
}

.buttons-and-search .buttons button:hover {
    background-color: #a35b3e;
}

.search-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-grow: 1;
    gap: 10px;
    margin-top: 0;
    margin-bottom: 0;
}

.search-container input {
    flex-grow: 1;
    border-radius: 3vh;
    border-color: dimgrey;
    background-color: #f1f1f1;
    padding: 1vh;
    font-size: 12px;
    width: 40vw;
}

.search-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 30vh;
    background-color: #F0B36D;
    color: #000;
    padding: 1vh;
}

/* Hover effect for the search button */
.search-button:hover {
    background-color: #0056b3;
}

.school-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    width: 100%;
    box-sizing: border-box;
    height: 66vh;
    overflow-y: scroll;
    margin-top: 1.5vh;
}

.school-list button {
    background-color: #F0B36D;
    color: black;
    width: 100%;
    height: 7vh;
    border-radius: 5vh;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    padding-left: 2vh;
    padding-right: 2vh;
}

.school-list button:hover {
    background-color: #e78618;
}

@media (max-width: 1200px) {
    .renel-home-page .main-content {
        flex-direction: column;
    }

    .most-urgent {
        width: 100%;
        margin-right: 0;
        height: auto;
        padding-bottom: 2vh;
    }

    .all-schools {
        margin-top: 0;
        width: 100%;
    }

    .most-urgent.expanded .most-urgent-content {
        max-height: 500px; /* Max height when expanded */
        overflow-y: auto; /* Scrollable content */
        display: flex;
        flex-direction: column;
        border-radius: 1vh;
        padding-top: 0.5vh;
        padding-bottom: 0.4vh;
    }
    
    .most-urgent.collapsed .most-urgent-content {
        display: none;
        height: auto;
    }

    .collapsible-header {
        border-radius: 5px;
        padding-top: 0.5vh;
        padding-bottom: 0.5vh;
    }

    .most-urgent-content p {
        padding: 1vh 0;
        border-bottom: 1px solid #ddd;
    }

    .buttons-and-search .buttons button{
        margin-top: 0;
        width: 10vw;
    }

    .search-container input {
        width: 60vw;
    }
}

@media (max-width: 1000px) {
    .school-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        width: 100%;
        box-sizing: border-box;
    }
    .buttons-and-search .buttons button {
        width: 100%;
        min-width: 90px;
    }
    .search-container input {
        width: 64vw;
    }
}

@media (max-width: 800px) {
    .search-container input {
        width: 50vw;
    }
}

@media (max-width: 600px) {
    .search-container input {
        width: 35vw;
    }
}