body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background-color: #ffffff;
}

.logo-container {
    display: flex;
    justify-content: center; /* Centers the logo horizontally */
    align-items: center;
    padding: 10px 0;
}

.logo {
    height: 60px;
    cursor: pointer;
}

.main {
    padding: 20px;
}

.student-info {
    max-width: 1000vh;
    margin: 0 auto;
    text-align: center;
}

.student-info h1 {
    margin: 0;
    padding-bottom: 2vh;
    font-size: 200%;
}

.info-container {
    width: 63%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #f0b36d;
    padding: 2vh;
    border-radius: 3vh;
    position: relative;
}

.info-card {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 50%;
    border-radius: 3vh;
    align-self: flex-start; /* Align the contact info to the start of the container */
    justify-content: center; /* Center the contact info vertically */
    padding: 20px; /* Add padding for better spacing */
    flex-grow: 1;
}

.student-details {
    flex: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center the content vertically */
    align-items: center;
    line-height: 1.4;
}

.student-details h1 {
    font-size: 20px;
    line-height: 1;
}

.student-details h2 {
    font-size: 15px;
    line-height: 1;
}

.student-details h3 {
    font-size: 14px;
    /* line-height: 2; */
    font-weight: bold;
}

.student-details p {
    font-size: 14px;
    font-style: italic;
}

.student-buttons {
    margin-top: 20px;
    text-align: center;
}

.student-buttons button {
    background-color: white;
    border: none;
    color: black;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 3vh;
    cursor: pointer;
    font-size: 90%;
    justify-items: center;
}

.student-buttons button:hover {
    background-color: #c86b39;
}

.chart-container {
    flex: 1.5;
    text-align: center;
}

/* Popup styles */
.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 90%; /* Increase the width of the popup */
    max-width: 450px; /* Increase the max-width of the popup */
    text-align: center; /* Center content in the popup */
}

.popup h2 {
    margin-top: 0;
    text-align: center; /* Center the title */
}

.popup label {
    display: flex;
    align-items: center;
    margin: 1vh 0;
    justify-content: space-between;
    width: 100%;
    
}

.popup input {
    width: 70%; /* Adjust the width of the input fields */
    padding: 0.8vh;
    margin-left: 1vh;
    box-sizing: border-box;
    border: 1px solid lightblue; /* Add light grey border */
}

.popup-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 2vh;
    
}

.popup-buttons button {
    padding: 1vh 2vh;
    border: none;
    border-radius: 3vh;
    cursor: pointer;
    
}

.popup-buttons button:first-child {
    background-color: #ccc;
}

.popup-buttons button:last-child {
    background-color: #f0b36d;
    color: white;
}

.popup-buttons button:last-child:hover {
    background-color: #c86b39;
}

/* Media queries for responsive design */
@media (max-width: 768px) {
    .info-container {
        flex-direction: column;
        align-items: center;
    }

    .info-card {
        width: 100%;
    }

    .student-details h1, .student-details h2, .student-details h3, .student-details p {
        font-size: 14px;
    }

    .student-buttons {
        margin-top: 10px;
    }

    .student-buttons button {
        padding: 8px 16px;
    }
}