.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #d9d9d9; /* Grey background color for the navigation bar */
    padding: 1vh 3vh;
    color: white;
}

.icons svg {
    margin-right: 1vh; /* Space out the icons */
    align-items: right;
}

.nav {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.nav a {
    margin-right: 20vh;
    text-decoration: none;
    color: black;
    font-style: italic;
}

.icons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-grow: 1;
}

.icons span {
    margin-left: 1vh;
    color: #c86b39; /* Change the color of the "Logout" text */
    font-style: italic;
}
